@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,100;1,300&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
	height: auto;
	display: block;
}

.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.app__content{
  width: 80%;
}

.header{
  width: 100%;
}

/* 
*{
  border: 1px solid red;
} */
